
.DS_Store
ml-ui/.idea/inspectionProfiles/profiles_settings.xml
ml-ui/.idea/inspectionProfiles/Project_Default.xml
ml-ui/.idea/misc.xml
ml-ui/.idea/modules.xml
ml-ui/.idea/ml-ui.iml
ml-ui/tools/__pycache__/utilities.cpython-310.pyc
ml-ui/views/__pycache__/dashboard.cpython-310.pyc
ml-ui/views/__pycache__/data_annotation.cpython-310.pyc
ml-ui/views/__pycache__/data_extraction.cpython-310.pyc
ml-ui/views/__pycache__/model_training.cpython-310.pyc
ml-ui/views/__pycache__/model_tuning.cpython-310.pyc
ml-ui/views/__pycache__/settings.cpython-310.pyc
ml-ui/.idea/vcs.xml
*.pyc
ml-data/.idea/inspectionProfiles/profiles_settings.xml
ml-data/.idea/inspectionProfiles/Project_Default.xml
ml-data/.idea/misc.xml
ml-data/.idea/modules.xml
ml-data/.idea/ml-data.iml
ml-data/.idea/vcs.xml
ml-data/.idea/workspace.xml
ml-train-test-inference/.idea/inspectionProfiles/profiles_settings.xml
ml-train-test-inference/.idea/inspectionProfiles/Project_Default.xml
ml-train-test-inference/.idea/misc.xml
ml-train-test-inference/.idea/modules.xml
ml-train-test-inference/.idea/ml-train-test-inference.iml
ml-train-test-inference/.idea/vcs.xml
ml-train-test-inference/.idea/jupyter-settings.xml
ml-ui/.idea/jupyter-settings.xml
ml-data/.idea/jupyter-settings.xml
ml-plugin/.idea/inspectionProfiles/profiles_settings.xml
ml-plugin/.idea/inspectionProfiles/Project_Default.xml
ml-plugin/.idea/jupyter-settings.xml
ml-plugin/.idea/misc.xml
ml-plugin/.idea/modules.xml
ml-plugin/.idea/ml-plugin.iml
ml-plugin/.idea/vcs.xml
ml-plugin-ui/.idea/inspectionProfiles/profiles_settings.xml
ml-plugin-ui/.idea/inspectionProfiles/Project_Default.xml
ml-plugin-ui/.idea/jupyter-settings.xml
ml-plugin-ui/.idea/misc.xml
ml-plugin-ui/.idea/modules.xml
ml-plugin-ui/.idea/ml-plugin-ui.iml
ml-plugin-ui/.idea/vcs.xml
